:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
}

.list {
  list-style: none;
}
.page-header {
}

.text-logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Site nav */
.site-nav a {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

span,
.site-nav a:hover,
.site-nav a:focus,
.site-cont a:hover,
.site-cont a:focus,
.current {
  color: var(--accent-text-color);
}
.site-cont a {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero {
  background-color: var(--hero-bg-color);
}
.hero-title {
  color: var(--primary-bg-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
}

.section {
  background-color: var(--primary-bg-color);
}

.section-title {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-item {
  color: var(--title-text-color: #212121);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title-team {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.text-team {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* цвет заголовков 212121  */
/* цвет параграфа 757575 */
/* цвет голубой #2196F3 */
/* цвет второй секции #E5E5E5 */
/* h1 Robotto Font
Roboto
Weight
900
Size
44px
Line height
60px
Letter
6%
Align
Center */
/* h2 Font
Roboto
Weight
700
Size
14px

Line height
16.41px
Letter
3% */
/* Raleway – 700, а для Roboto – 400, 500, 700 і 900. */ ;
