:root {
}
body {
  font-family: ;
  /* background-color: #e5e5e5; */
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.page-header {
}

.text-logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Site nav */
.site-nav a {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

span,
.site-nav a:hover,
.site-nav a:focus,
.site-cont a:hover,
.site-cont a:focus {
  color: #2196f3;
}
.site-cont a {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  color: #ffffff;
  background-color: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
}
/* цвет заголовков 212121  */
/* цвет параграфа 757575 */
/* цвет голубой #2196F3 */
/* цвет второй секции #E5E5E5 */
/* h1 Robotto Font
Roboto
Weight
900
Size
44px
Line height
60px
Letter
6%
Align
Center */
/* h2 Font
Roboto
Weight
700
Size
14px

Line height
16.41px
Letter
3% */
/* Raleway – 700, а для Roboto – 400, 500, 700 і 900. */
